
.inner.comment#article-show{data: {article_id: @article.id}}
  .header.comment_top
    .comment_top_back
      = link_to 'javascript:history.back()', class: 'to_account' do
        %i.fas.fa-arrow-left
    %h1.to_profile Comments

  .comments
    .comments-container

    -# .comment_index
    -# .comment-account
    -# .comment-account-info
    -# .comment-info

  .comments_container
    .comment_new.show_comment_form
      = image_tag 'comment.png'
    .comment_text_area.hidden
      = text_area_tag :comment_content, ''
      .comment_new.add_comment_btn
        %span コメントを追加

= javascript_pack_tag 'timeline'
