.container
  = link_to new_article_path do
    .float_btn
      =image_tag 'camera.png'
  - articles.each do |article|
    = render 'commons/article', article: article
  
      
= javascript_pack_tag 'timeline'