
$avatar-size: 32px;
$container-margin: 16px;

.inner {
    padding: 16px;
    .header {
        display: flex;
        margin-bottom: 50px;

        .to_profile {
            margin: 0 auto;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-decoration: none;
            color: #333333
        }
    }
    // .comment_index {
    //         display: flex;
    //         vertical-align:top; 
    //         width: 100%;
    //         margin: $container-margin;
    //     .comment-account {
    //             display: block;
    //         img {
    //             width: $avatar-size;
    //             height: $avatar-size;
    //             border-radius: 100%;
    //             margin: 16px 6px;
    //             }
    //         }
    //         .comment_wrap {
                
    //             display: block;
    //             margin: 30px 16px;
    //             .comment-account-info {
    //                 height: 100%;
    //                 margin-right: 10px;
    //                 display: inline-block;
    //                 a {
    //                     font-size: 14px;
    //                     color: #333333;
    //                     text-decoration: none;
    //                 }
    //             }
    //             .comment-info {
    //                 height: 100%;
    //                 color: #9B9B9B;
    //                 display: inline-block;
    //             }
    //         }

    //     }

    .comments {
        clear :both;
        margin-top: 30px;
        &_image {
            float: left;
            margin-right: 20px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
        &_name {
            float: left;
        }
        &_content {
            clear: both;
            margin-left: 50px;
            margin-bottom: 30px;
            color: #9B9B9B;
        }
    }

    .comment_new.show_comment_form {
        background-color: white;
        margin: 16px 0;
        padding: 12px 0 13px 21px;
        cursor: pointer;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    }
}

textarea {
    width: 100%;
    margin: 8px 0px;
    padding: 8px 8px;
    min-height: 100px;
    resize: vertical;
    border: 1px solid #EBEBEB;
  }