.profile_header {
    display: flex;
}

.back_arrow {
    margin-top: 46px;
    position: absolute;
}

.account_name {
    margin: 46px auto 0 auto;
    text-align: center;
    align-items: center;
    p {
        display: inline-block;
        font-size: 16px;
    }
}

.profile_img_border {
    // display:inline-block;
    // justify-content: center;
    // align-items: center;
    // border: 1px solid #E91E63;
    // border-radius: 50%;
    // max-width: 84px;
    // height: 84px;
    // box-sizing: border-box;
    // text-align:center;
        margin: 32px auto;

        //中央よせが効かない問題
    img {
        width: 76.88px;
        height: 76.88px;
        border-radius: 50%;
        margin:0 auto;
        display:block;
    }
}

.numbers {
    text-align:center;
    display: flex;

    &_post {
        display: block;
        margin: 5px auto;
        p {
            font-size: 12px;
        }
    }

    &_followers {
        display: block;
        margin: 5px 5px;
        padding-left: 10px;
        align-items: center;
        p {
            font-size: 12px;
        }
    }

    &_following {
        display: block;
        margin: 5px auto;
        p {
            font-size: 12px;
        }
    }
}

.hidden {
    display: none;
  }